# Operators & Numbers
|

Operator + - * /

In [1]:
23 + 5

28

In [1]:
a=5
s=10
a + s

15

In [4]:
2 * 3

6

In [5]:
10/5 # by default float

2.0

In [6]:
10 // 5 # integer division

2

In [7]:
10 % 4

2

In [8]:
10 == 10

True

In [9]:
10 != 5

True

In [10]:
10 != 10

False

In [11]:
12 ** 2

144

# Introducing Lists

List are like arrays they are dynamic in the sense of size as well as data, for eg list can contain all int, float and string at the same time

In [12]:
alist = []

In [13]:
type(alist)

list

In [14]:
print(type(alist))

<class 'list'>

In [16]:
alist = ["Asad", 12, 3.5, False, [1,3,5]]
        #  0      1   2     3       4
        #  -5     -4  -3    -2      -1

In [17]:
alist[0]

'Asad'

In [18]:
alist[4]

[1, 3, 5]

In [19]:
alist[5]

IndexError: list index out of range

In [20]:
alist[4][2]

5

In [21]:
alist[-3]

3.5

In [25]:
names = ["Hamza", "Kamran", "Fahad", "Siraj"]
print(names[0] + " Graduated in 2018")
print(names[1] + " Graduated in 2018")
print(names[2] + " Graduated in 2018")
print(names[3]+ " Graduated in 2018")

Hamza Graduated in 2018
Kamran Graduated in 2018
Fahad Graduated in 2018
Siraj Graduated in 2018

In [26]:
bList = []

In [30]:
bList.append('apple')

In [32]:
print(bList[0])

apple

In [33]:
bList[0]

'apple'

In [34]:
clist = alist

In [35]:
clist

['Asad', 12, 3.5, False, [1, 3, 5]]

In [36]:
alist[1] = "Hello"

In [37]:
alist

['Asad', 'Hello', 3.5, False, [1, 3, 5]]

In [38]:
clist

['Asad', 'Hello', 3.5, False, [1, 3, 5]]

In [39]:
dlist = alist.copy()

In [43]:
print(alist)
print(names)
newList = alist + names
newList

['Asad', 'Hello', 3.5, False, [1, 3, 5]]
['Hamza', 'Kamran', 'Fahad', 'Siraj']

['Asad', 'Hello', 3.5, False, [1, 3, 5], 'Hamza', 'Kamran', 'Fahad', 'Siraj']

In [49]:
country = "America"

In [50]:
alist

['Asad', 'Hello', 3.5, False, [1, 3, 5]]

In [51]:
alist.insert(3, 150)

In [52]:
alist

['Asad', 'Hello', 3.5, 150, False, [1, 3, 5]]

In [55]:
alist[5] = "IT"
alist

['Asad', 'Hello', 3.5, 150, False, 'IT']

In [58]:
alist.remove('Hello')

ValueError: list.remove(x): x not in list

In [57]:
alist

['Asad', 3.5, 150, False, 'IT']

In [59]:
alist.reverse()

In [60]:
alist

['IT', False, 150, 3.5, 'Asad']

In [61]:
alist.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [62]:
dlist = [22, 97, 1, 10.5, 3, 65, 7.8]
dlist.sort()

In [63]:
dlist

[1, 3, 7.8, 10.5, 22, 65, 97]

In [64]:
dlist.sort(reverse=True)

In [65]:
dlist

[97, 65, 22, 10.5, 7.8, 3, 1]

In [66]:
names

['Hamza', 'Kamran', 'Fahad', 'Siraj']

In [68]:
print(names[0] + " is invited to dinner")
print(names[1] + " is invited to dinner")
print(names[2] + " is invited to dinner")
print(names[3] + " is invited to dinner")

Hamza is invited to dinner
Kamran is invited to dinner
Fahad is invited to dinner
Siraj is invited to dinner

In [69]:
print(names[3] + " can\'t come to dinner")

Siraj can't come to dinner

In [70]:
names[3] = "Saeed"

In [71]:
names

['Hamza', 'Kamran', 'Fahad', 'Saeed']

In [72]:
print(names[0] + " is invited to dinner")
print(names[1] + " is invited to dinner")
print(names[2] + " is invited to dinner")
print(names[3] + " is invited to dinner")

Hamza is invited to dinner
Kamran is invited to dinner
Fahad is invited to dinner
Saeed is invited to dinner

In [73]:
print("We have found a bigger table so more people will be joining us")
names.insert(0, "Ubaid")

We have found a bigger table so more people will be joining us

In [74]:
names

['Ubaid', 'Hamza', 'Kamran', 'Fahad', 'Saeed']

In [75]:
len(names)

5

In [76]:
names.insert(2, "Anwar")

In [77]:
names

['Ubaid', 'Hamza', 'Anwar', 'Kamran', 'Fahad', 'Saeed']

In [78]:
names.append("Abdullah")

In [79]:
names

['Ubaid', 'Hamza', 'Anwar', 'Kamran', 'Fahad', 'Saeed', 'Abdullah']

In [80]:
print(names[0] + " is invited to dinner")
print(names[1] + " is invited to dinner")
print(names[2] + " is invited to dinner")
print(names[3] + " is invited to dinner")
print(names[4] + " is invited to dinner")
print(names[5] + " is invited to dinner")
print(names[6] + " is invited to dinner")

Ubaid is invited to dinner
Hamza is invited to dinner
Anwar is invited to dinner
Kamran is invited to dinner
Fahad is invited to dinner
Saeed is invited to dinner
Abdullah is invited to dinner

In [81]:
sorted(names)

['Abdullah', 'Anwar', 'Fahad', 'Hamza', 'Kamran', 'Saeed', 'Ubaid']

In [82]:
names

['Ubaid', 'Hamza', 'Anwar', 'Kamran', 'Fahad', 'Saeed', 'Abdullah']

# For Loop

In [85]:
for a in "Pakistan":
    print(a, end=".")

P.a.k.i.s.t.a.n.

In [86]:
for item in alist:
    print(item)

IT
False
150
3.5
Asad

In [91]:
for num in range(0,10,3):
    print(num)

0
3
6
9

In [ ]:
mylist=[2,3,4,5,6,7]

In [ ]:
sliced = mylist[2:5]

In [ ]:
sliced

In [ ]:
print()

In [ ]:
9