# For Loop

In [1]:
for a in range (5):
    #indent 
    print(a,"Aqib")

0 Aqib
1 Aqib
2 Aqib
3 Aqib
4 Aqib

In [3]:
for char in "pakistanzindabad":
    print(char.upper(), end="") #end for removing new line

PAKISTANZINDABAD

In [5]:
for student in ["Asad", "Ali", "Ahmed"]:
    print(f"The name of student is {student}")

The name of student isAsad
The name of student isAli
The name of student isAhmed

In [11]:
for num in range(0,10,2) :
    print(num)

0
2
4
6
8

In [12]:
for num in range(1,10,2) :
    print(num)

1
3
5
7
9

In [18]:
for num in range(10,0,-1) :
    print(num)

10
9
8
7
6
5
4
3
2
1

In [19]:
for num in range(10,0,-2) :
    print(num)

10
8
6
4
2

In [20]:
for student in ["Asad", "Ali", "Ahmed"]:
    print(f"Pakistani {student}")

Pakistani Asad
Pakistani Ali
Pakistani Ahmed

In [35]:
student= ["Asad", "Ali", "Ahmed"]

In [ ]:
square =[]
for value in range (1,11):
    square

In [36]:
for num in range(len(student)):
    student[num] = f"{student[num]} pakistani"
student

['Asad pakistani', 'Ali pakistani', 'Ahmed pakistani']

In [ ]:
for stud in student:
    student.append(student.pop()+"Pakistani")