In [8]:
print("Hello World","Python",sep="---", end="\t")
print("Another Line")

Hello World---Python	Another Line

# Variables

# Data Types

int, float, string, boolean

In [9]:
a = 10

In [10]:
type(a)

int

In [11]:
print(type(a))

<class 'int'>

In [12]:
id(a)

140727734805168

In [14]:
b = 12.5
type(b)

float

In [15]:
c = True
d = False

In [16]:
type(c)

bool

In [17]:
type(d)

bool

In [18]:
name = "Ai"
type(name)

str

In [19]:
print(type(name))

<class 'str'>

In [6]:
val1 = 100
val2 = val1
val2

100

In [7]:
id(val1) == id(val2)

True

In [10]:
val3 = 101

In [11]:
id(val1) == id(val3)

False

In [32]:
country = "Pakistan"

In [45]:
country.find('n')

7

In [47]:
len(country)

8

In [51]:
institution = "saylani"
year = 2021
print("I am learning " + name + " in " + institution + " and my course started in the year " + str(year))

I am learning Ai in saylani and my course started in the year 2021

# String Formatting

In [58]:
fname = input("Enter your name = ")
age = input("Enter your age = ")

# print("My name is {} and my age is {}".format(fname,age))
print(f"My name is {fname} and my age is {age}")

Enter your name = saif
Enter your age = 23
My name is saif and my age is 23

In [55]:
# print("My name is " + fname + " and my age is " + age)

My name is saif and my age is 23